body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
}
.right-links{
    align-self: center;
}
.right-links a{
    padding: 5px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.description{
    padding: 60px;
    
    display: flex;
    background-color: #1f2937;
}
.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}
.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}
.description img{
    align-self: flex-start;
    flex: 1;
    max-width: 400px;
    max-height: 400px;
}
.right-description{
    flex: 1;
}

img {
    width: 200px;
    height: 200px;
}
.right-description button{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}
.card{
    display: flex;
    gap: 20px;
}
.small-card{
    gap:10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-card img, .small-card div{
    flex:1 1 0;
}
.small-card div{
    text-align: center;
}
.small-card img{
    width: 150px;
    border-radius: 20px;
    border-color: #3882F6;
    border-style: solid;
}

.quote{
    padding: 60px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.quote .signature{
    font-size: 25px;
    color: #1F2937;
    font-weight: 800;
    text-align: right;
}
.blue_card{
    display: flex;
    background-color: #3882F6;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    justify-content: space-around;
    color: white;
}
.blue_card .card_text .title{
    font-weight: 800;
    font-size: 32px;
}
.blue_card button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}